{% extends "standard.html" %}

{% block title %}About - Cosine Gaming{% endblock %}
{% block description %}About Cosine{% endblock %}

{% block main %}

	<div class="wrap">

		<div class="card">

			<p style="font-size: 32px">
				Cosine Gaming makes <a href="/games">free indie games</a>.
			</p>

		</div>

		<div class="card">

			<p class="indent">
				Cosine Gaming was started by a girl known in this world as Cosine.
				She is often seen wasting her time in front of two bright LCDs,
				discussing with her friends about Bioshock,
				attempting to play an instrument and consoling crying onlookers,
				moving her pencil on paper in weird patterns she tries to call "art",
				learning so many languages she'll probably never be fluent in any of them,
				working through the dense pages of Kagan's AP Euro textbook,
				reading old classics she should have read ages ago,
				watching TV (especially anime),
				playing games on her PC,
				playing games on her friends's consoles,
				or listing things she does.
			</p>

		</div>

		<div class="card">
			<p class="indent">
				All of my games are <a href="https://www.gnu.org/philosophy/free-sw.html">free software</a>.
				This is not because they cost nothing (though they do cost
				nothing!), it is because you have the freedom to play, modify,
				and distribute them
				<a href="https://www.gnu.org/licenses/gpl-3.0.en.html">as you please</a>.
				This is unfortunately exceedingly rare in the video game
				industry, even for silly web games.
			</p>
			<p class="indent">
				Please consider <a href="/donate">donating</a>. You'll notice
				that there are no ads on this site, donations is my only revenue
				from this site, which does not come without costs.
			</p>
		</div>

	</div>

{% endblock %}
