{% extends "standard.html" %}

{% block title %}About Us - Cosine Gaming{% endblock %}
{% block description %}Cosine Gaming has a number of people working to bring you free games.{% endblock %}

{% block main %}

	<div class="wrap">

		<h2 class="entry-spaced bottom-spaced">
			About Cosine Gaming
		</h2>

		<p class="bottom-spaced" style="font-size: 32px">
			Cosine Gaming makes <a href="/games">free indie games</a>.
		</p>

		<p class="indent bottom-spaced">
			Cosine Gaming was started by a girl known in this world as Cosine.
			She is often seen wasting her time in front of two bright LCDs,
			discussing with her friends about Bioshock,
			attempting to play an instrument and consoling crying onlookers,
			moving her pencil on paper in weird patterns she tries to call "art",
			learning so many languages she'll probably never be fluent in any of them,
			working through the dense pages of Henretta's APUSH textbook,
			reading old classics she should have read ages ago,
			watching TV (especially anime),
			playing games on her PC,
			playing games on her friends's consoles,
			listing things she does,
			or simply being in awe of how awesome <a href="http://en.wikipedia.org/wiki/MOSFET">MOSFET Transistors</a> are.
		</p>

		<p class="indent" style="margin-bottom: 40px;">
			But it’s not just Cosine doing things around here.
			She has a team of friends enduring ("playtesting") her awful games and beating The Last of Us for her so she doesn't have to buy a console.
			We asked everyone on the team to write a little bit about themselves and their responses are listed here.
		</p>

		<div class="bottom-spaced">
			<img src="/static/about/computer.jpg" style="width: 100px" /><br />
			<p style="font-weight: bold;">QuoteMaster</p>
			<p class="indent">
				As a small kid who came from the other side of the country, whose brain is just too big for the people he hangs around,
				I never was really the axis of a group of friends, and none of my friends completely approved or understood my ideas, creations, or jokes.
				I decided to keep quiet around people, but I had too much creativity in my head, screaming to get out.
				Finally, I found myself in with a group of peers who understood me, and they were my GT friends.
				I soon began Quote o' da Day as a funny joke for my friends, but it never grew outside of a math classroom.
				Soon, the Quote o' da Day became a business, and I established a name for myself, QuoteMaster, to show that I was the CEO, so to speak.
				Finally, I was approached by CosineQuote/Cosine who wanted to post my "business" on her website.
				Then this became serious for me . . .  Just kidding, nothings serious! I've been with Cosine Gaming for a while now, and it never stops being fun,
				and we've even extended the quotes (see if you can find them!) Enjoy Quote o' da Day and the rest of Cosine Gaming!   ;)
			</p>
		</div>

		<div class="bottom-spaced">
			<img src="/static/about/pineapple.jpg" style="width: 100px" /><br />
			<p style="font-weight: bold;">PIneaPplez13</p>
			<p class="indent">
				PIneaPplez13 has played video games for all of his life.
				His childhood was Crash Bandicoot. He doesn't only love video games but
				reading books, listening to music, and viewing artwork. Only viewing isn't
				enough for him however, and he has attempted at least once to create his
				own masterpieces in all of those medias. Some attempts have gone better
				than others and recently he has learned to create perhaps his favorite type
				of media: Video Games. His good friend Cosine has been mentoring him and he
				has been accepted into the Cosine Gaming community with a warm welcome. He
				is excited to contribute his works to CosineGaming.
			</p>
		</div>

		<div style="margin-bottom: 40px;">
			<img src="/static/about/giant-squid.jpg" style="width: 100px" /><br />
			<p style="font-weight: bold;">Giant Squid</p>
			<p class="indent">
				I came to Cosine Gaming last year when Cosine and I met PIneaPplez13. We struck up
				a friendship based on programming and digital art. These past few years I've
				been struggling with learning how to write code and program and these two have
				tried (or at least attempted to) to teach me.
				In addition they have taught me almost everything I know about graphic design.
				I'm constantly getting emails and texts from them about new video games,
				cool digital artwork and other stuff.
				I'm very happy to be joining the team at Cosine Gaming and hope that I'll
				eventually get to contribute games and maybe artwork of my own creation.
			</p>
		</div>

	</div>

{% endblock %}
