{% extends "standard.html" %}

{% block title %}Beta Projects - Cosine Gaming{% endblock %}
{% block description %}See the newest games Cosine Gaming is working on right now.{% endblock %}

{% block main %}

	<div class="wrap">

		<h2 class="entry-spaced bottom-spaced">Beta Projects</h2>

		<p class="indent bottom-spaced">
			Try out games that we're still working on.
			Some of them are really exciting and will be very fun when they're released!
			However, be aware that what you play here is likely to be buggy or lacking a lot of features.
			If you want polished games, we recommend you <a href="/games">play some completed ones</a>.
			If you are particularly interested in the coming games, go ahead and click one of these links.
			You might be surprised how nice they are. Another reason you might be interested is if you're a developer.
			We make most of our games from solid code (Primarily ActionScript, C++, and Python).
			If your interested in what we do, <a href="mailto:cosinegaming@gmail.com">email us</a> or <a href="/contact">give us feedback</a>.
		</p>

		<ul>

			<li class="entry-spaced">
				<b>Frost</b>
				<p class="indent">
					Frost is a massively multiplayer online first-person shooter RPG. Yeah, all that. So don't expect it any time soon.
					It takes place in a world that global warming has destroyed, and the one thing everyone must have is fuel.
					Gain fuel however you can - betrayal, scavenging, or murder are all viable options - to protect yourself better.
					read the <a href="/blog/post/20/#frost">introducing blog post</a>.
				</p>
			</li>

			<li class="entry-spaced">
				<b>Code Indigo</b>
				<p class="indent">
					Code Indigo is a game planned to be 3D.
					It's going to be an intense mystery game that takes place on an airship.
					What's happening aboard the airship <i>Indigo</i>?
				</p>
			</li>

		</ul>

	</div>

{% endblock %}
