{% extends "standard.html" %}

{% block title %}Beta Projects - Cosine Gaming{% endblock %}
{% block description %}See the newest games Cosine Gaming is working on right now.{% endblock %}

{% block main %}

	<div class="wrap">

		<h2 class="entry-spaced bottom-spaced">Beta Projects</h2>

		<p class="indent bottom-spaced">
			Try out games that we're still working on.
			Some of them are really exciting and will be very fun when they're released!
			However, be aware that what you play here is likely to be buggy or lacking a lot of features.
			If you want polished games, we recommend you <a href="/games">play some completed ones</a>.
			If you are particularly interested in the coming games, go ahead and click one of these links.
			You might be surprised how nice they are. Another reason you might be interested is if you're a developer.
			We make most of our games from solid code (Primarily ActionScript, C++, and Python).
			If your interested in what we do, <a href="mailto:cosinegaming@gmail.com">email us</a> or <a href="/contact">give us feedback</a>.
		</p>

		<ul>

			<li class="bottom-spaced">
				<a href="http://github.com/CosineGaming/CodeIndigo">Code Indigo</a>
				<p class="indent">
					Code Indigo is very new, and is also 3D. It's going to be an intense mystery game that takes place on an airship.
					It uses the high-tech Indigo Engine which we're releasing to the public, so the link goes directly to the source code.
					Developers may be very interested in the Indigo Engine, because it's very powerful, but allows for lots of control.
					Code Indigo is very ambitious, but not very exciting right now. We've been working on getting the three dimensions,
					which is a very complex process. We've got a story cooked up, though, and we promise it will chill your bones.
					What's happening aboard the airship <i>Indigo</i>?
				</p>
			</li>

			<li class="bottom-spaced">
				<b>Frost</b>
				<p class="indent">
					Frost is a massively multiplayer online first-person shooter RPG. Yeah, all that. So don't expect it any time soon.
					It takes place in a world that global warming has destroyed, and the one thing everyone must have is fuel.
					Gain fuel however you can - betrayal, scavenging, or murder are all viable options - to protect yourself better.
					A stark, distopian world where everyone acts for themself is not where anyone wants to life.
					It's sure fun to play a game in, though. To get even more psyched about this game and to learn more about life after the frost,
					read the <a href="/blog/21">introducing blog post</a>.
				</p>
			</li>

			<li>
				<b>Yet unnamed</b>
				<p class="indent">
					This is our newest game, and it has the potential for endless fun. When FPS, Sci-Fi, SpaceShips, and Teamwork combine,
					the result is spectacular, and that's what's coming up with this game. Take down the enemies ship with a complex strategy,
					or defend it all costs. Your choice. Built in a powerful engine, this game has great graphics, gameplay, and even plot.
					It's the most advanced game yet, and that's why it's not being built from scratch.
					This game is going to take a while, but when it comes out, you're going to be shocked and blown away.
				</p>
			</li>

		</ul>

	</div>

{% endblock %}
