{% extends "standard.html" %}

{% block title %}
{% if not full %}Blog - Cosine Gaming
{% else %}{{ entries[0].title }} - CG{% endif %}
{% endblock %}

{% block description %}Cosine Gaming's Blog. A blog about games, politics, the Internet, artwork, programming, and more.{% endblock %}

{% block head %}

	{{ super() }}

	<style>

		.pagination {
			font-size: 25px;
		}

		.byline {
			font-size: 16px;
			margin-bottom: 40px;
		}

	</style>

{% endblock %}

{% block main %}

	<div class="wrap">

		<h2 class="entry-spaced">
			<a href="/blog/">Cosine Gaming Blog</a>
		</h2>
		<p style="font-size: 25px; margin-bottom: 40px;">A Blog about games, new CG projects, and more.</p>

		{% if filled_out %}
			<p style="font-weight: bold; font-size: 26px;" class="highlight">
				Post submitted. Thanks for blogging!
			</p>
			<br />
		{% endif %}

		<div class="horizontal-ad" style="width: 468px;">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- Short wide banner -->
				<ins class="adsbygoogle"
				     style="display:inline-block;width:468px;height:60px"
				     data-ad-client="ca-pub-2773641619627735"
				     data-ad-slot="6180957807"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>

		<div class="entry-spaced"></div>

		{% macro string_date(entry) %}{{ entry.date.strftime("%Y-%m-%d") }}{% endmacro %}

		{% macro url_title(entry) %}{{ entry.title|lower|regex("[^a-z0-9 ]")|replace(" ", "-") }}{% endmacro %}

		{% macro url(entry) %}/blog/post/{{ entry.index }}/#{{ url_title(entry) }}{% endmacro %}

		{% macro read_full(entry) %}... (<a href="{{ url(entry) }}">Read full post</a>){% endmacro %}

		{% macro post_format(string) %}{{ string|replace("\n", '</p><p class="indent">')|safe }}{% endmacro %}

		{% macro pagination() %}

			{% if not full %}

				{% if blog_page > 1 %}
					<a href="/blog/page/{{ blog_page - 1 }}/" class="pagination" style="float: left;"><< Newer Posts</a>
				{% endif %}

				{% if entries[-1].index > 0 %}
					<a href="/blog/page/{{ blog_page + 1 }}/" class="pagination" style="float: right;">Older Posts >></a>
				{% else %}
					<p class="pagination" style="float: right;">No older posts</p>
				{% endif %}

			{% else %}

				<a href="/blog/page/{{ blog_page }}/#{{ url_title(entries[0]) }}" class="pagination">Return to feed</a>

			{% endif %}

			<div style="clear: both; margin-bottom: 40px;" /></div>

		{% endmacro %}

		{{ pagination() }}

		{% for entry in entries %}

			<article style="margin-bottom: 80px;">
				<h3>
					<a href="{{ url(entry) }}" name="{{ url_title(entry) }}">{{ entry.title }}</a>
				</h3>
				<p class="byline">
					<time datetime="{{ string_date(entry) }}" pubdate>
						{{ string_date(entry) }}</time>,
					by {{ entry.author }}
				</p>
				<p class="indent">
					{% if full %}
						{{ post_format(entry.post) }}
					{% else %}
						{{ post_format(entry.post|truncate(1000, end=read_full(entry))) }}
					{% endif %}
				</p>
			</article>

		{% endfor %}

		{{ pagination() }}

	</div>

{% endblock %}
