<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" charset="utf-8" />
		<title>Creased - Cosine Gaming</title>
        <script src="/static/creased-post/svg.min.js"></script>
		<script src="/static/creased-post/levels.js"></script>
		<script src="/static/creased-post/creased.js"></script>
		<style>
			*
			{
				margin: 0;
				padding: 0;
			}
			#game
			{
				overflow: hidden;
			}
			#cover
			{
				width: 100%;
				height: 100%;
				overflow: hidden;
			}
		</style>
	</head>
	<body>
		<div id="cover"></div>
		<div id="game"></div>
	</body>
</html>