<!doctype html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Entropy - Cosine Gaming</title>
<link rel="shortcut icon" href="/static/favicon.ico" />
<meta name="description" content="Play Entropy online at Cosine Gaming. IN AN ISOLATED SYSTEM, ENTROPY CAN ONLY INCREASE." />

<!-- Library -->
<script type="text/javascript" src="/static/entropy/phaser.min.js"></script>
<!-- States -->
<script type="text/javascript" src="/static/entropy/boot.js"></script>
<script type="text/javascript" src="/static/entropy/load.js"></script>
<script type="text/javascript" src="/static/entropy/level.js"></script>
<script type="text/javascript" src="/static/entropy/lose.js"></script>
<!-- Objects -->
<!-- Thank you Belahcen Marwane! https://github.com/bmarwane/phaser.healthbar/blob/master/HealthBar.standalone.js -->
<script type="text/javascript" src="/static/entropy/healthbar.js"></script>
<script type="text/javascript" src="/static/entropy/player.js"></script>
<script type="text/javascript" src="/static/entropy/monster.js"></script>
<!-- Entry point -->
<script type="text/javascript" src="/static/entropy/game.js"></script>

<style type="text/css">
	body
	{
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
	canvas
	{
		image-rendering: optimizeSpeed;u
		image-rendering: -moz-crips-edges;
		image-rendering: -webkit-optimize-contrast;
		image-rendering: -o-crisp-edges;
	}
</style>

</head>
<body>
</body>
</html>
