{% block flip %}
    Flip is a new relentless and addicting puzzle game about reflections.
    Reflect your sheep across lines into the target area on each level.
    <br /><br /><b>Play beta online.</b>
{% endblock %}

{% block dash %}
    Dash is a fast-paced puzzle game in which you have to find your way off the platform while constantly moving.
    "The problem with Cosine Gaming is that they need to start making their games less sadistic."
    <br /><br /><b>Windows-only download.</b>
{% endblock %}

{% block revenge %}
    Revenge is a game about walking around, fighting monsters, and proving your overall awesomeness.
    Shop for supplies in the shop, then go adventuring, fighting monsters, trading in villages, and collecting resources.
    <br /><br /><b>Play online.</b>
{% endblock %}

{% block parallel %}
    Parallel is a game Cosine made for Ludum Dare, a competition where people submit games made in only 48 hours.
    Parallel is the world beneath the surface of every everyday object. A 3D first-person platformer.
    <br /><br /><b>Windows-only download.</b>
{% endblock %}

{% block less_than_shadows %}
    Less Than Shadows is a platformer... without the platforms. It was created by Cosine in 48 hours for Ludum Dare.
    <br /><br /><b>Play online.</b>
{% endblock %}

{% block sniper %}
    You're a sniper, stooped up on an edge, perhaps recruited, perhaps there for your own good.
    One by one, you pick off the inferior beings, teaching them not to mess with you.
    <br /><br /><b>Windows-only download.</b>
{% endblock %}

{% block ace_slicenick %}
    Ace Slicenick is a game where you shoot Nuclear ICBMs into evil aliens. Sounds legit enough.
    <br /><br /><b>Play online.</b>
{% endblock %}

{% block stealth %}
    Stealth is a game where the enemies are subtle, and you need to find them, locate them, and quickly kill them before they get to you.
    Yes, the screen glitches back. Sorry.<br /><br /><b>Play online.</b>
{% endblock %}

{% block circle_wars %}
    You are a blue circle. The enemies are green circles. You must beat the green.
    Because you can. Trust me on this.<br /><br /><b>Windows-only download.</b>
{% endblock %}
