{% extends "standard.html" %}

{% block title %}Cosine Gaming{% endblock %}
{% block description %}Cosine Gaming makes free indie games. Play puzzle games, platformers, RPGs, and others online or downloaded.{% endblock %}

{% block head %}

	{{ super() }}

	<style>

		ul.game-list {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			transition: flex-wrap;
		}

		ul.game-list li {
			position: relative;
			height: 250px;
			width: 630px;
			margin: 25px 0;
			text-decoration: none;
			background-color: white;
			box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
			transition: box-shadow 0.3s, opacity 0.3s;
		}

		ul.game-list li:hover {
			box-shadow: 0 4px 10px 0 rgba(0,0,0,.26);
		}

		ul.game-list li:active {
			background-color: #d3e4f9;
		}

			ul.game-list li a div {
				position: absolute;
				overflow: hidden;
				width: 100%;
				height: 250px;
				z-index: 1;
				background-position: center top;
				background-repeat: no-repeat;
				opacity: 1;
				transition: opacity 0.3s;
			}

			ul.game-list li:hover a div {
				opacity: 0.2;
			}

			ul.game-list li a p.description {
				position: absolute;
				left: 0;
				right: 0;
				top: 55px;
				max-width: 600px;
				width: 100%; /* This fixes a weird fluke in IE's text-align */
				margin: 0 auto;
				text-align: center;
				/* Text on top of image */
				z-index: 2;
				opacity: 0;
				transition: opacity 0.3s;
			}

			ul.game-list li:hover a p.description {
				opacity: 1;
			}

			ul.game-list li a div p.label {
				display: none;
				position: absolute;
				left: 50%;
				color: #f698ec;
				font-family: Libertine, serif;
			}

		/* List of labels's positions, padding-left offsets text's position from the center */
		#swarm-label {
			top: 75px;
			margin-left: -570px;
			font-size: 150px;
		}
		#flip-label {
			top: 150px;
			margin-left: -350px;
			font-size: 130px;
		}
		#dash-label {
			top: 150px;
			margin-left: 200px;
			font-size: 120px;
		}
		#less-than-shadows-label {
			top: 80px;
			margin-left: -40px;
			font-size: 60px;
		}
		#parallel-label {
			top: 300px;
			margin-left: -175px;
			font-size: 100px;
		}
		#revenge-label {
			top: 390px;
			margin-left: -145px;
			font-size: 80px;
		}
		#sniper-label {
			top: 380px;
			margin-left: -120px;
			font-size: 100px;
		}
		#ace-slicenick-label {
			top: 285px;
			margin-left: -250px;
			font-size: 90px;
		}
		#stealth-label {
			top: 375px;
			margin-left: -175px;
			font-size: 110px;
		}
		#circle-wars-label {
			top: 230px;
			margin-left: -125px;
			font-size: 75px;
		}

	</style>

{% endblock head %}

{% block main %}

	<div style="border-bottom: 3px solid #d3e4f9; text-align: center; padding: 30px;">
		<p style="font-size: 36px;">Cosine Gaming makes free indie games.</p>
		<p class="bottom-spaced">
			Scroll down for a list of games, some online for all platforms, some for Windows only.
			Hover over each game for a description. Click one to play it.
		</p>
		<div class="horizontal-ad">
			<p>Advertisement</p>
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- Short wide banner -->
			<ins class="adsbygoogle"
			     style="display:inline-block;width:468px;height:60px"
			     data-ad-client="ca-pub-2773641619627735"
			     data-ad-slot="6180957807"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>
	</div>

	<ul class="game-list">

		{% for game in games %}
		<li>
			<a href="/{{ game.url }}">
				<div style="background-image: url(/static/game-links/{{ game.url }}.png);">
					<p class="label" id="{{ game.url }}-label">{{ game.name }}</p>
				</div>
				<p class="description">{{ game.description }}</p>
			</a>
		</li>
		{% endfor %}

	</ul>

{% endblock main %}
