{% block pale_white_dot %}
Pale White Dot is an incremental game set in the solar system. You start as
Earth’s moon, A Small World, known as Luna. You can accumulate resources and
build an army to take over the solar system! Try keeping it open while you play
other games, and check in once in a while.
{% endblock %}

{% block entropy %}
Entropy is a game that takes place in multiple energy
levels of a single room. Fight ever more powerful monsters in this
dungeon-crawler-with-a-twist. Now with complete mobile support: consider
adding it to your home screen! Made for LD37.  <br />
<i>In an isolated system, entropy can only increase</i>.
{% endblock %}

{% block swarm %}
Swarm is a game where you play as just another enemy grunt.
You are a swarmy, all spirally and cruelly round. The hero, a triflapper, wants
to reclaim his land.  Don't let him.
{% endblock %}

{% block flip %}
Flip is a new relentless and addicting puzzle game about
reflections.  Reflect a shape across lines into the target area on each level.
The reflection is the most complex of the geometric transformations, and the
subtleties make for interesting puzzles!
{% endblock %}

{% block switch %}
If your flipping needs have not been satisfied by Flip, go ahead and flip some
colors. A strangely addicting puzzler where you switch the color of sets of
circles until you can clear the board.
{% endblock %}

{% block dash %}
Dash is a fast-paced puzzle game in which you have to find
your way off the platform while constantly moving.  "The problem with Cosine
Gaming is that they need to start making their games less sadistic." {%
endblock %}

{% block revenge %}
Revenge is a game about walking around, fighting monsters,
and proving your overall awesomeness.  Shop for supplies in the shop, then go
adventuring, fighting monsters, trading in villages, and collecting resources.
{% endblock %}

{% block parallel %}
Parallel is a game Cosine made for Ludum Dare, a
competition where people submit games made in only 48 hours.  Parallel is the
world beneath the surface of every everyday object. A 3D first-person
platformer.
{% endblock %}

{% block less_than_shadows %}
Less Than Shadows is a platformer... without the
platforms. It was created by Cosine in 48 hours for Ludum Dare.
{% endblock %}

{% block sniper %}
You're a sniper, stooped up on an edge, perhaps recruited,
perhaps there for your own good.  One by one, you pick off the inferior beings,
teaching them not to mess with you.
{% endblock %}

{% block ace_slicenick %}
Ace Slicenick is a game where you shoot Nuclear ICBMs
into evil aliens. Sounds legit enough.
{% endblock %}

{% block stealth %}
Stealth is a game where the enemies are subtle, and you
need to find them, locate them, and quickly kill them before they get to you.
{% endblock %}

{% block circle_wars %}
You are a blue circle. The enemies are green circles.
You must beat the green.
{% endblock %}
