{% extends "standard.html" %}

{% block title %}Privacy Policy - Cosine Gaming{% endblock %}
{% block description %}Have questions about privacy at Cosine Gaming? You have it here. Want more information? Read it on this page.{% endblock %}
{% block keywords %}Cosine Gaming, Privacy Policy, Privacy, Cookies, Data{% endblock %}

{% block main %}

	<div class="wrap">

		<div class="card">
		<h2 class="bottom-spaced">Privacy Policy</h2>
		<p class="indent bottom-spaced">
			I don't collect anything but the server log files so I can
			diagnose issues like 404s. These include IP address, type
			of browser, time visited, and referring page. I don't sell
			this data or use it in any way except to see who visits my
			site, when, and if they get errors. Data is deleted after 30 days.
		</p>
		<p class="indent">
			If you require any more information or have any questions about our privacy policy, please feel free to contact us by email at cosinegaming@gmail.com.
		</p>
		</div>

	</div>

{% endblock %}
