{% extends "standard.html" %}

{% block title %}Privacy Policy - Cosine Gaming{% endblock %}
{% block description %}Have questions about privacy at Cosine Gaming? You have it here. Want more information? Read it on this page.{% endblock %}
{% block keywords %}Cosine Gaming, Privacy Policy, Privacy, Cookies, Data{% endblock %}

{% block main %}

    <div class="wrap">

		<div class="card">
	        <h2 class="bottom-spaced">Privacy Policy</h2>
	        <p class="indent bottom-spaced">
	            We care about your privacy. So we don't intrude on it. We barely know anything about you, and what we do we won't use in any negative way.
	            If you want more information about our privacy policy in detail, it's listed below.
	        </p>
	        <p class="indent">
	            If you require any more information or have any questions about our privacy policy, please feel free to contact us by email at cosinegaming@gmail.com.
	        </p>
	        <p class="indent">
	            At www.cosinegaming.com, the privacy of our visitors is of extreme importance to us. This privacy policy document outlines the types of personal information is received and collected by www.cosinegaming.com and how it is used.
	        </p>
		</div>

		<div class="card">

	        <p class="indent">
	            Log Files
	        </p>

	        <p class="indent">
	            Like many other Web sites, www.cosinegaming.com makes use of log files. The information inside the log files includes internet protocol ( IP ) addresses, type of browser,
	            Internet Service Provider ( ISP ), date/time stamp, referring/exit pages, and number of clicks to analyze trends, administer the site, track user’s movement around the site,
	            and gather demographic information. IP addresses, and other such information are not linked to any information that is personally identifiable.
	        </p>
	        <p class="indent">
	            Cookies and Web Beacons
	        </p>
	        <p class="indent">
	            www.cosinegaming.com does not use cookies.
	        </p>
	        <p class="indent">
	            DoubleClick DART Cookie
	            .:: Google, as a third party vendor, uses cookies to serve ads on www.cosinegaming.com.
	            .:: Google's use of the DART cookie enables it to serve ads to users based on their visit to www.cosinegaming.com and other sites on the Internet.
	            .:: Users may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy at the following URL - http://www.google.com/privacy_ads.html

	        </p>
	        <p class="indent">
	            Some of our advertising partners may use cookies and web beacons on our site. Our advertising partners include ....
	            Google Adsense
	        </p>
	        <p class="indent">
	            These third-party ad servers or ad networks use technology to the advertisements and links that appear on www.cosinegaming.com send directly to your browsers.
	            They automatically receive your IP address when this occurs. Other technologies ( such as cookies, JavaScript, or Web Beacons ) may also be used by the third-party ad networks
	            to measure the effectiveness of their advertisements and / or to personalize the advertising content that you see.
	        </p>
	        <p class="indent">
	            www.cosinegaming.com has no access to or control over these cookies that are used by third-party advertisers.
	        </p>
	        <p class="indent">
	            You should consult the respective privacy policies of these third-party ad servers for more detailed information on their practices as
	            well as for instructions about how to opt-out of certain practices. www.cosinegaming.com's privacy policy does not apply to, and we cannot control the activities of,
	            such other advertisers or web sites.
	        </p>
	        <p class="indent">
	            If you wish to disable cookies, you may do so through your individual browser options. More detailed information about cookie management with specific web browsers
	            can be found at the browsers' respective websites.
	        </p>

		</div>

    </div>

{% endblock %}
