{% extends "standard.html" %}

{% block title %}Swarm - Cosine Gaming{% endblock %}
{% block description %}Play Swarm, a game where you are the monster - Made for Ludum Dare.{% endblock %}

{% block head %}

    {{ super() }}

    <link rel="stylesheet" href="style.css" />

{% endblock %}

{% block main %}

	<div class="wrap">

		<h2 class="entry-spaced bottom-spaced">Swarm</h2>

		<h3 class="bottom-spaced">You are the Monster.</h3>

		<img src="assets/big.png" class="side-img" />

		<p class="indent bottom-spaced">
			Enter: The hero. Welcome hero. Hero has valiantly offered to take back the lands of the triflappers!
			It was taken away long ago by the evil swarm... Brutal monsters of unknown origin.
            He strode in flapping his triangular wings wielding a weapon of blue triangles.
		</p>

        <br style="clear: both" />

        <img src="assets/swarm.png" class="side-img" />

        <p class="indent bottom-spaced">
            Here is a swarmy. He's all spirally and cruelly round. Just look at the thing.
            Now surely he will attack! Hero is ready though. He prepares his triangle.
            What's this? Why is he not moving? Surely it can't be... that the swarmy is your conciousness!
            Wouldn't it be awful if you were this awful thing? If you moved with "WSAD" / ",AOE"?
            Oh no! The swarmy can shoot! And you are causing this with the mouse! How evil!
        </p>

        <br style="clear: both" />

        <p class="indent bottom-spaced">
            Swarmies are pack hunters. If one dies his conciousness is transferred to another.
            Like all creatures in Bright Land, they fade as they lose health until they disappear forever.
        </p>

        <a href="play" class="play bottom-spaced">Play!</a>

        <br />

        <p>Thanks to Kevin MacLeod at <a href="http://incompetech.com/">Incompetech</a> for the music, EDM Detection Mode!</p>

	</div>

{% endblock %}
